@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mouse Memoirs";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/mousememoirs/v17/t5tmIRoSNJ-PH0WNNgDYxdSb3TDPr6OH.woff2")
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Mouse Memoirs";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/mousememoirs/v17/t5tmIRoSNJ-PH0WNNgDYxdSb3T7Prw.woff2")
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  height: 100%;
  background-image: url('./img/cite-bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body {
  height: 100%;
  font-family: "Mouse Memoirs", sans-serif;
}
#root{
  height: 100%;
}
.container {
  width: 100%;
  max-width: 1273px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 41px;
  padding-right: 41px;
}
.layout{
  height: inherit;
}
main{
  height: inherit;
}
.start-bg {
  background: linear-gradient(180deg, #344aba 0%, rgba(0, 20, 121, 0.83) 100%);
  box-shadow: 0px 6px 0px 8px #2463ff inset, 0px -8px 0px 4px #140e66 inset;
}
.back {
  background: linear-gradient(180deg, #fe71fe 16.42%, #7199ff 100%);
}
.how {
  -webkit-text-stroke-width: 8;
  -webkit-text-stroke-color: #243041;
  letter-spacing: -0.68px;
  background: linear-gradient(180deg, #67b6ff 16.42%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
